.blog-code-block {
  @apply relative mb-5;

  & pre {
    @apply border border-gray-700;

    &::-webkit-scrollbar {
      @apply h-1;
    }
  }

  & pre[class*="language-"] {
    @apply pt-6;
  }

  & pre[class*="language-"]::before {
    @apply font-mono
    font-bold
    text-gray-800
    text-xs
    uppercase
    absolute
    leading-none
    tracking-wider
    rounded-b-md
    top-0
    px-3 py-1;
    left: 1rem;
  }

  & pre[class="language-js"]::before {
    @apply bg-language-javascript;
    content: "js";
  }

  & pre[class="language-swift"]::before {
    @apply bg-language-swift;
    content: "swift";
  }

  & pre[class="language-diff"]::before {
    @apply bg-language-diff;
    content: "diff";
  }
}
