:root {
  --color-language-javascript: #f7df1e;
  --color-language-swift: #de5c43;
}

:root,
.light-mode {
  --color-background: #fff;
  --color-surface: #edf2f7;
  --color-typography: #000;
  --color-link: #000;
}

.dark-mode:root,
.dark-mode {
  --color-background: #191f2d;
  --color-surface: rgba(54, 60, 72, 0.51);
  --color-typography: #fff;
  --color-link: #ffdb62;
  --color-accent: rgba(255, 219, 98, 0.51);
}

::selection {
  background: #ffdb62;
}

html {
  @apply antialiased
    font-sans
    bg-background
    text-typography;
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

a {
  @apply font-bold text-link no-underline;

  &:hover {
    @apply border-b border-link;
  }
}
