@tailwind base;
@tailwind components;
@tailwind utilities;

@import "dracula-prism/dist/css/dracula-prism.css";
@import "@fortawesome/fontawesome-svg-core/styles.css";

@layer base {
  :root {
    --color-language-javascript: #f7df1e;
    --color-language-swift: #de5c43;
    --color-language-diff: #43de6a;
  }

  ::selection {
    background: #ffdb62;
  }

  html {
    @apply antialiased
    font-sans;
  }

  body {
    @apply bg-white dark:bg-gray-800
    text-black dark:text-white;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }
}
